html,
body,
#__nuxt,
#__layout {
    height: 100% !important;
    width: 100% !important;
}

html,
body {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;

}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}